@import "tailwindcss";

@theme {
  --color-accent: var(--accent-color);
  --color-accent-complementary: var(--accent-color-complementary);
  --color-accent-special: var(--accent-color-special);

  --color-primary-bg: var(--primary-bg-color);
  --color-secondary-bg: var(--secondary-bg-color);
  --color-primary-text: var(--primary-text-color);
  --color-secondary-text: var(--secondary-text-color);

  --shadow-custom: var(--shadow);
  
  --font-sans: var(--sans);
  --font-heading: var(--heading);
}

@layer base {
  :root {
    --accent-color: #2650a4;
    --accent-color-complementary: #a47b26;
    --accent-color-special: #268fa4;

    --primary-bg-color: white;
    --secondary-bg-color: #dfdfdf;
    --primary-text-color: black;
    --secondary-text-color: #50575b;

    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--primary-text-color);
    background: var(--primary-bg-color);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
      font-size: 16px;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --accent-color-special: #3c26a4;

      --primary-bg-color: #05050c;
      --secondary-bg-color: #17171F;
      --primary-text-color: #f9f9f9;
      --secondary-text-color: #e5e6f3;

      --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    }
  }

  body {
    margin: 0;
  }

  #root {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  h1, h2 {
    font-family: var(--heading);
    font-weight: 500;
    color: var(--secondary-text-color);
  }

  h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    margin: 32px 0;
    @media (max-width: 1024px) {
      font-size: 36px;
      margin: 20px 0;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }

  p {
    margin: 0;
  }

  section {
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--primary-bg-color);
    box-shadow: 1px 1px 9px 1px var(--primary-bg-color);
  }

  nav {
    background-color: var(--accent-color-special);
  }

  nav button:hover {
    background-color: var(--accent-color);
  }
}
